table{
    border-collapse: collapse;
    max-width:400px;
    width: 100%;
    margin: 2rem auto;
    
}

table th, table td{
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .form label {
    text-align: left;
    display: block;
  }
  .form input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .form button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }